<ion-modal-view class="flavors bg">
  <div class="bar bar-header bar-positive item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <!-- <input type="search" placeholder="Buscar"> -->
    <input type="search" placeholder="Buscar" ng-keyup="search.request(search.input)" ng-model="search.input">
  </label>
  <button class="button button-clear" on-tap="modal.action('hide')">
    Cancel
  </button>
</div>

  <ion-content class="has-header">
    <div id="wrap">
      <div class="card" ng-show="search.results">
        <ul class="list list-free">
          <li class="item" ng-repeat="result in search.results track by $index">
            <p class="title">{{result.name}}</p>
            <!--span class="description">{{result.type}}</span-->
          </li>
        </ul>
      </div>
    </div><!-- #wrap -->
  </ion-content>

</ion-modal-view>